body {
    background-color: #221f1f;
}

.white {
    color: azure;
}

.blue {
    color: #221f1f;
}

.card {
    margin: 5px;
    width: 150px;
    height: 150px;
}

.cardRow {
    display: flex;
}

.card img {
    width: 100%;
    height: 100%;
}